@charset "UTF-8";
body {
  font-size: 20px;
  min-height: 1080px;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

body * {
  box-sizing: border-box;
}

.container {
  max-width: 720px;
  margin: 30px auto;
  background-color: white;
  opacity: 0.6;
  border-radius: 15px;
  padding: 1px 25px 25px 25px;
  min-height: 500px;
  box-shadow: 0px 0px 20px 9px #c1b9b9;
}

.container h1 {
  opacity: 1;
  padding: 10px 0px;
  margin: 10px 0;
  border-bottom: solid #a8afaf 1px;
}

.container .decriptionRow {
  color: #696969;
}

.container .decriptionRow span {
  font-weight: 700;
  font-size: 1em;
  color: black;
}

.container li {
  margin-top: 20px;
}

.profileContainer {
  display: flex;
  flex-flow: row wrap;
  margin-left: 20px;
}

.profileContainer .decriptionRow {
  min-width: 320px;
  margin-top: 15px;
}

ul.skillContainer {
  padding-left: 20px;
  list-style: none;
}

ul.skillContainer li {
  padding-top: 20px;
}

.process {
  float: left;
  position: relative;
  height: 2px;
  display: block;
  width: 95%;
  background-color: #a2a2a2;
  border-radius: 2px;
  margin: .5rem 0 1rem;
  overflow: visible;
  margin-bottom: 10px;
}

.process .determinate {
  background-color: #fba1b7;
  position: absolute;
  top: 0;
  bottom: 0;
}

.process .determinate .fa {
  font-size: 13px;
  position: absolute;
  top: -4px;
  right: -2px;
  margin-left: 50%;
  color: #fba1b7;
}

.splitLine {
  margin: 0 auto;
  width: 200px;
  height: 20px;
  border-bottom: 1px solid #fba1b7;
}

.weContainer {
  margin-top: 10px;
  display: flex;
  font-size: 20px;
  flex-flow: row wrap;
  color: #696969;
}

.weContainer div {
  min-width: 300px;
}

.weContainer .company {
  margin-top: 10px;
}

.weContainer .company:before {
  content: "公司名：";
  font-weight: 700;
  font-size: 1em;
  color: black;
}

.weContainer .date {
  margin-top: 10px;
}

.weContainer .date:before {
  content: "任职期间：";
  font-weight: 700;
  font-size: 1em;
  color: black;
}

.weContainer .jobname {
  margin-top: 10px;
}

.weContainer .jobname:before {
  content: "职位：";
  font-weight: 700;
  font-size: 1em;
  color: black;
}

.weContainer .industry {
  margin-top: 10px;
}

.weContainer .industry:before {
  content: "所属行业：";
  font-weight: 700;
  font-size: 1em;
  color: black;
}

.weContainer .project {
  margin-top: 10px;
}

.weContainer .project:before {
  content: "贡献与成就：";
  font-weight: 700;
  font-size: 1em;
  color: black;
}

.weContainer .project div {
  margin: 15px 20px;
}

.peContaner {
  margin-top: 10px;
  display: flex;
  font-size: 20px;
  flex-flow: row wrap;
  color: #696969;
}

.peContaner div {
  min-width: 300px;
}

.peContaner .name {
  margin-top: 10px;
}

.peContaner .name:before {
  content: "项目名：";
  font-weight: 700;
  font-size: 1em;
  color: black;
}

.peContaner .period {
  margin-top: 10px;
}

.peContaner .period:before {
  content: "项目周期：";
  font-weight: 700;
  font-size: 1em;
  color: black;
}

.peContaner .description {
  margin-top: 10px;
}

.peContaner .description:before {
  content: "描述：";
  font-weight: 700;
  font-size: 1em;
  color: black;
}

.peContaner .responsibility {
  margin-top: 10px;
}

.peContaner .responsibility:before {
  content: "职责：";
  font-weight: 700;
  font-size: 1em;
  color: black;
}
