$main-color: blue;

body{
    *{
        box-sizing: border-box;
    }

    font-size: 20px;
    min-height: 1080px;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.container{
    max-width: 720px;
    margin: 30px auto;
    background-color: white;
    opacity: 0.6;
    border-radius: 15px;
    padding: 1px 25px 25px 25px;
    min-height: 500px;
    box-shadow: 0px 0px 20px 9px #c1b9b9;

    h1{
        opacity: 1;
        padding: 10px 0px;
        margin: 10px 0;
        border-bottom: solid #a8afaf 1px;
    }

    .decriptionRow{
        color: #696969;

        span{
            font-weight:700;
            font-size: 1em;
            color: black;
        }
    }

    li{
        margin-top:20px;
    }
}

.profileContainer{
    display: flex;
    flex-flow: row wrap;
    margin-left: 20px;

    .decriptionRow{
        width: 320px;
        margin-top:15px;
    }
}

.weContainer{
    display: flex;
    font-size: 20px;
    flex-flow: row wrap;
    div{
        width: 300px;
    }

    .company{
        &:before{
            content: "公司名："
        }
    }

    .date{
        &:before{
            content: "任职期间："
        }
    }

    .jobname{
        &:before{
            content: "职位："
        }
    }
}
