$process-color:#fba1b7;
@mixin titleText{
    font-weight:700;
    font-size: 1em;
    color: black;
}

@mixin weTitleText($content) {
    margin-top:10px;

    &:before{
        content:$content;
        @include titleText;
    }
}

body{
    *{
        box-sizing: border-box;
    }

    font-size: 20px;
    min-height: 1080px;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.container{
    max-width: 720px;
    margin: 30px auto;
    background-color: white;
    opacity: 0.6;
    border-radius: 15px;
    padding: 1px 25px 25px 25px;
    min-height: 500px;
    box-shadow: 0px 0px 20px 9px #c1b9b9;

    h1{
        opacity: 1;
        padding: 10px 0px;
        margin: 10px 0;
        border-bottom: solid #a8afaf 1px;
    }

    .decriptionRow{
        color: #696969;

        span{
            @include titleText;
        }
    }

    li{
        margin-top:20px;
    }
}

.profileContainer{
    display: flex;
    flex-flow: row wrap;
    margin-left: 20px;

    .decriptionRow{
        min-width: 320px;
        margin-top:15px;
    }
}

ul.skillContainer{
    padding-left: 20px;
    list-style: none;

    li{
        padding-top:20px;
    }
}

.process{
    float: left;
    position: relative;
    height: 2px;
    display: block;
    width: 95%;
    background-color: rgb(162, 162, 162);
    border-radius: 2px;
    margin: .5rem 0 1rem;
    overflow: visible;
    margin-bottom: 10px;

    .determinate{
        background-color: $process-color;
        position: absolute;
        top: 0;
        bottom: 0;

        .fa{
            font-size: 13px;
            position: absolute;
            top: -4px;
            right: -2px;
            margin-left: 50%;
            color: $process-color;
        }
    }
}



.weContainer{
    margin-top:30px;
    display: flex;
    font-size: 20px;
    flex-flow: row wrap;
    color: #696969;
    div{
        min-width: 300px;
    }

    .company{
        @include weTitleText("公司名：")
    }

    .date{
        @include weTitleText("任职期间：")
    }

    .jobname{
        @include weTitleText("职位：")
    }

    .industry{
        @include weTitleText("所属行业：")
    }

    .project{
        @include weTitleText("负责项目：")
    }
}
